.gradle
**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
**/bin/main
**/bin/test

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.DS_Store
